# 1. モジュールインポート

In [ ]:
import modules.localData as mylocalData
%load_ext autoreload

# 2.現役馬の競走馬一覧を作成

In [40]:
%autoreload

In [41]:
# https://www.keiba.go.jpより、現役馬の競走馬一覧を取得する
df = mylocalData.scrape()

  0%|          | 0/13 [00:00<?, ?it/s]

In [42]:
# pickleファイルに保存
df.to_pickle('horse_list.pickle')

In [43]:
df

       No.         馬名   性齢    生年   所属             父名         母名     horse_id
0        1  アークウイングラス   牝2  2020  北海道       リアルインパクト   ウインクルグラス  30083407776
1        2     アースウルフ  セン5  2017  北海道        オルフェーヴル    アースシンボル  30026405446
2        3   アースクインビー   牝6  2016  北海道        ハービンジャー   シルククインビー  30033403636
3        4   アースジェロディ   牡6  2016  北海道        ハービンジャー     ホシノアテナ  30068403436
4        5  アーススカーレット   牡4  2018  北海道        ダイワメジャー    アースシンボル  30027402656
...    ...        ...  ...   ...  ...            ...        ...          ...
12417  855    ワンダーペスタ  セン7  2015   浦和          ベーカバド  メイショウシュウカ  30095403426
12418  856    ヴィガーエッジ  セン9  2013   浦和       キングカメハメハ     エラドゥーラ  30051402906
12419  857  ヴィクトリアブーケ   牝4  2018   浦和  スウェプトオーヴァーボード  キャスケードブーケ  30066400456
12420  858    ヴィテスミット   牡6  2016   浦和       プリサイスエンド    ニシノナデシコ  30004403336
12421  859    ヴェールレガロ   牡7  2015   浦和        カジノドライヴ  ドレスデングリーン  30077409326

[12422 rows x 8 columns]

In [44]:
df['horse_id']

0        30083407776
1        30026405446
2        30033403636
3        30068403436
4        30027402656
            ...
12417    30095403426
12418    30051402906
12419    30066400456
12420    30004403336
12421    30077409326
Name: horse_id, Length: 12422, dtype: object

In [105]:
# 表示カラム数拡張
import pandas as pd
pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)
pd.set_option('display.max_rows', 40)

In [101]:
# 重複行を抽出
#df['horse_id'].duplicated()
print(df[df['horse_id'].duplicated()])

        No.         馬名   性齢    生年   所属             父名         母名     horse_id
1182   1151   ロケットスピード   牡2  2020  北海道       ミッキーロケット     サクラダモン  30048407076
1183   1152    ロジータガール   牝5  2017  北海道       オウケンマジック    ファイナルパル  30096400346
1184   1153     ロッソナブア   牡2  2020  北海道        グランデッツァ   ベラミカントリー  30026403176
1185   1154  ロドルフォブレイン   牡5  2017  北海道      ヴィクトワールピサ      ペイドリン  30088406146
1186   1155      ロドレッタ   牝2  2020  北海道        サトノクラウン  グローリアスイリス  30097405676
...     ...        ...  ...   ...  ...            ...        ...          ...
12417   855    ワンダーペスタ  セン7  2015   浦和          ベーカバド  メイショウシュウカ  30095403426
12418   856    ヴィガーエッジ  セン9  2013   浦和       キングカメハメハ     エラドゥーラ  30051402906
12419   857  ヴィクトリアブーケ   牝4  2018   浦和  スウェプトオーヴァーボード  キャスケードブーケ  30066400456
12420   858    ヴィテスミット   牡6  2016   浦和       プリサイスエンド    ニシノナデシコ  30004403336
12421   859    ヴェールレガロ   牡7  2015   浦和        カジノドライヴ  ドレスデングリーン  30077409326

[361 rows x 8 columns]

In [52]:
# horse_idの重複データを削除
horse_id_list = df['horse_id'].unique()
len(horse_id_list)

12061

In [53]:
# list型へ変換
horse_id_list2 = horse_id_list.tolist()

# 3.所有馬主情報を取得

In [112]:
# モジュールを更新した際、notebookに反映させるために使用。
# すでにインポートしてあるモジュールの更新が反映される。
%autoreload
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [113]:
# horse_idリストの馬主を取得する
#df_horse = mylocalData.scrape_horse(['30083407776', '30026405446'])
#df_horse = mylocalData.scrape_horse(['30072403095', '30008409326'])
#df_horse = mylocalData.scrape_horse(['30034402376', '30044400176'])
df_horse_info = mylocalData.scrape_horse(horse_id_list2)

  0%|          | 0/2 [00:00<?, ?it/s]

In [94]:
# pickleファイルに保存
df_horse_info.to_pickle('owner.pickle')

In [91]:
df_horse_info.head()

                   umanushi
30083407776   アークフロンティア （株）
30026405446        松 山  増 男
30033403636        松 山  増 男
30068403436        松 山  増 男
30027402656        松 山  増 男

In [106]:
df_horse_info.value_counts()

umanushi
 （同） ＪＰＮ技研        204
 （株） ファーストビジョン    191
 小 橋  亮 太         162
 酒 井  孝 敏         114
 冨 田  藤 男          90
                 ...
 松 嶋  宏 篤           1
 松 岡    悟           1
 松 尾  直 樹           1
 松 井  陽 明           1
 松 浦  一 久           1
Length: 2667, dtype: int64